shutdown
init
launch
start org.eclipse.osgi
install file://__ANCHORDIR__/Libraries/external/apache/log4j.jar
install file://__ANCHORDIR__/Libraries/external/gnu/gnu-getopt.jar
install file://__ANCHORDIR__/Libraries/internal/imoblib.jar
install file://__ANCHORDIR__/Libraries/internal/configService.jar
install file://__ANCHORDIR__/Libraries/internal/configServiceImpl.jar
install file://__ANCHORDIR__/Libraries/external/csv/csvreader.jar
install file://__ANCHORDIR__/Output/dist/bundles/feathers2core.jar
install file://__ANCHORDIR__/Output/dist/bundles/abstractServiceImpl.jar
install file://__ANCHORDIR__/Output/dist/bundles/commonsService.jar
install file://__ANCHORDIR__/Output/dist/bundles/commonsServiceImpl.jar
install file://__ANCHORDIR__/Output/dist/bundles/environmentService.jar
install file://__ANCHORDIR__/Output/dist/bundles/environmentServiceImpl.jar
install file://__ANCHORDIR__/Output/dist/bundles/transcadService.jar
install file://__ANCHORDIR__/Output/dist/bundles/transcadServiceImpl.jar
install file://__ANCHORDIR__/Output/dist/bundles/entityManagerService.jar
install file://__ANCHORDIR__/Output/dist/bundles/entityManagerServiceImpl.jar
install file://__ANCHORDIR__/Output/dist/bundles/evcPriceMinimisingService.jar
install file://__ANCHORDIR__/Output/dist/bundles/evcPriceMinimisingServiceImpl.jar
update *
setbsl 2 log4j
setbsl 2 csvreader
setbsl 2 getopt
setbsl 2 imoblib
setbsl 3 configService
setbsl 3 configServiceImpl
setbsl 5 feathers2core
setbsl 6 abstractServiceImpl
setbsl 6 commonsService
setbsl 6 commonsServiceImpl
setbsl 7 transcadService
setbsl 7 transcadServiceImpl
setbsl 8 environmentService
setbsl 8 environmentServiceImpl
setbsl 9 entityManagerService
setbsl 9 entityManagerServiceImpl
setbsl 10 evcPriceMinimisingService
setbsl 10 evcPriceMinimisingServiceImpl
setfwsl 1
start log4j
start csvreader
start getopt
start imoblib
start configService
start configServiceImpl
start feathers2core
start abstractServiceImpl
start commonsService
start commonsServiceImpl
start transcadService
start transcadServiceImpl
start environmentService
start environmentServiceImpl
start entityManagerService
start entityManagerServiceImpl
start evcPriceMinimisingService
start evcPriceMinimisingServiceImpl
setfwsl 20
